---

import { client } from "../lib/kintone";
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export const prerender = true;
export async function getStaticPaths() {
  // array -> hash[id]
  const pages = await client.getAllPages();

  return Object.entries(pages).map(obj => {
    const [id , page] = obj;

    const slug = page.$slug ? page.$slug : undefined;

    return {
      params: { slug },
      props: { page },
    };
  });
}

const { page } = Astro.props;
---
<Layout title={page.title.value}>
  <Header />
  <main>
    <p>
      {page.$path.slice(0, page.$path.length - 1).map((item) => (
        <spna><a href={item.slug}>{item.name}</a> &gt; </spna>
      ))} <span>{page.title.value}</span>
    </p>
    <h1>{page.title.value}</h1>
    <article set:html={page.body.value}></article>
  </main>
  <Footer />
</Layout>